* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #6647b6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 420px;
  width: 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
h2 {
  margin-top: 20px;
  font-size: 1.5rem;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  height: 100%;
  width: 90%;
}
.form p {
  align-self: flex-start;
  font-size: 1.3rem;
  margin-left: 0.3rem;
  margin-bottom: 0.3rem;
}
.form input {
  width: 100%;
  height: 15%;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid lightgray;
  cursor: pointer;
}
.form input::placeholder {
  font-size: 1.2rem;
}
.form input:hover {
  border: 1px solid #6647b6;
}
.form input:focus {
  outline: none;
}
.drop-down {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-top: 20px;
}
.drop-down p {
  font-size: 1.2rem;
  margin-left: 0.5rem;
  margin-bottom: 0.3rem;
}

#arrow {
  margin-top: 1rem;
  opacity: 0.9;
  font-size: 1.5rem;
}
#arrow:hover {
  opacity: 1;
}
.select-currency {
  display: flex;
  border: 1px solid lightgrey;
  border-radius: 1rem;
  align-items: center;
  padding: 10px;
  width: 6rem;
  cursor: pointer;
}
.select-currency:hover {
  border: 1px solid #6647b6;
}
.select-currency img {
  width: 1.5rem;
  height: 1.5rem;
}
.select-currency select {
  outline: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
.message {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.message p {
  margin-top: 20px;
  font-size: 1.75rem;
  font-weight: 500;
}
.message button {
  padding: 24px;
  background-color: #6647b6;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  width: 125%;
  font-size: 1.2rem;
}
.message button:hover {
  background-color: #fff;
  color: #6647b6;
  border: 1px solid #6647b6;
}
